<!-- random-coffee.component.html -->
<button class="backHomeButton" mat-raised-button color="accent" routerLink="/">Home</button>

<div *ngIf="randomCoffee">
  <h2>{{ randomCoffee.name }}</h2>
  <img [src]="randomCoffee.image_url" alt="Coffee Image">
  <p>{{ randomCoffee.tagline }}</p>
  <p>First Roasted: {{ randomCoffee.first_roasted }}</p>
  <p>Strength Level: {{ randomCoffee.strength_level }}</p>
  <p>{{ randomCoffee.description }}</p>
  <p>Contributed By: {{ randomCoffee.contributed_by }}</p>
</div>
