<div class="welcome">
Welcome to Coffee
</div>
<div class="box-container">
  <a routerLink="/coffees" class="box">
    <img src="assets/images/coffees.jpg" alt="All Coffees">
    <h2>All Coffees</h2>
    <p>Explore the complete collection of coffees.</p>
  </a>


  <a routerLink="/random-coffee" class="box">
    <img src="assets/images/random-coffee.jpg" alt="Random Coffee">
    <h2>Random Coffee</h2>
    <p>Discover a random coffee from our selection.</p>
  </a>

  <a routerLink="/new-coffee" class="box">
    <img src="assets/images/new-coffee.jpg" alt="New Coffee">
    <h2>New Coffee</h2>
    <p>Create a new coffee and add it to our collection.</p>
  </a>

  <a routerLink="/filter-coffees" class="box">
    <img src="assets/images/coffees.jpg" alt="Filter Coffees">
    <h2>Filter Coffees</h2>
    <p>Filter and find your favorite coffees.</p>
  </a>
</div>
