<button class="backHomeButton" mat-raised-button color="accent" routerLink="/">Home</button>
<h1>Create a New Coffee</h1>

<form (ngSubmit)="createCoffee()" [formGroup]="coffeeForm">

  <input type="text" placeholder="Name" formControlName="name"><br>
  <p *ngIf="nameInput.invalid && nameInput.touched">Name is required.</p>

  <input type="text" placeholder="Tagline" formControlName="tagline"><br>
  <p *ngIf="taglineInput.invalid && taglineInput.touched">Tagline is required.</p>

  <textarea placeholder="Description" formControlName="description"></textarea><br>
  <input type="text" placeholder="First Roasted" formControlName="first_roasted"><br>
  <input type="text" placeholder="Roaster Tips" formControlName="roaster_tips"><br>
  <input type="number" placeholder="Strength Level" formControlName="strength_level"><br>
  <input type="text" placeholder="Contributed By" formControlName="contributed_by"><br>

  <button type="submit" [disabled]="coffeeForm.invalid">Create Coffee</button>
</form>