<button class="backHomeButton" mat-raised-button color="accent" routerLink="/">Home</button>

  <div class=" centered-column">
    <div *ngIf="coffee" class="coffee-card">
      <h2>{{ coffee.name }}</h2>
      <p>{{ coffee.description }}</p>
      <img [src]="coffee.image_url" alt="{{ coffee.name }}" class="coffee-image">
      <p>{{ coffee.tagline }}</p>
      <p>First Roasted: {{ coffee.first_roasted }}</p>
      <p>Strength Level: {{ coffee.strength_level }}</p>
      
      <p>Contributed by: {{ coffee.contributed_by }}</p>
      <button (click)="goToCoffeeList()">Back to Coffee List</button>
    </div>
</div>

  <div *ngIf="!coffee">
    <!-- Handle the case where coffee details are not available -->
    <p>Coffee details not available.</p>
  </div>

  

